.header {
  background-color: var(--bg-body);
  position: sticky;
  z-index: 99;
  top: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-desktop);
  height: 80px;
}
.btn-hamburger {
  display: none;
}
.logo img {
  width: 165px;
}
.pages a {
  margin: 0 10px;
  cursor: pointer;
}
.content-count {
  display: flex;
  column-gap: 15px;

  & svg {
    font-size: 28px;
  }
  & div {
    position: relative;
  }

  & span {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: var(--color-initial);
    color: white;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    font-size: 11.2px;
    display: grid;
    place-items: center;
  }
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  & .options {
    position: absolute;
    z-index: 80;
    top: 30px;
    display: flex;
    flex-direction: column;
    left: 0;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    display: none;

    & a,
    button {
      padding: 5px 9px;
      text-align: center;
      transition: color 100ms ease, background-color 100ms ease;
      font-size: 0.95rem;
      background-color: white;
    }
    & a:hover,
    button:hover {
      background-color: var(--color-initial);
      color: white;
    }
  }
  & b {
    text-transform: capitalize;
  }

  & .auth-icon svg {
    color: #07bc0c;
  }
}
.content-nav-list {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav {
    height: 70px;
  }
  .logo img {
    width: 150px;
  }
  .content-count {
    & svg {
      font-size: 26px;
    }
    & span {
      font-size: 11px;
    }
  }
  .btn-hamburger {
    display: block;
    margin-left: -13px;
  }
  .content-links-desktop {
    display: none;
  }
  .content-nav-list {
    display: block;
    & .nav-list {
      display: block;
    }
    & a {
      margin: 0;
    }

    & .nav-list {
      width: 100%;
    }
    & .list {
      margin-top: 20px;
      padding: var(--padding-desktop);
    }

    & svg,
    span {
      user-select: none;
      color: white;
    }
    & span {
      cursor: pointer;
      color: white;
      padding: 10px 0;
      user-select: none;
    }
  }
  .pages {
    position: fixed;
    z-index: 80;
    top: 70px;
    left: 0;
    right: 50%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 200ms ease;
  }
  .pages-active {
    transform: translateX(0);
  }
  .pages a {
    padding: 10px 0;
    filter: none;
    color: white;
  }
  .pages .nav-link-inside:hover {
    background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    padding: var(--padding-tablet);
  }
  .content-nav-list {
    & .list {
      margin-top: 15px;
      padding: var(--padding-tablet);
    }
  }

  .logo img {
    width: 140px;
  }
}

@media screen and (max-width: 576px) {
  .nav {
    padding: var(--padding-mobile);
    height: 60px;
  }
  .content-nav-list {
    & .list {
      margin-top: 5px;
      padding: var(--padding-mobile);
    }
  }
  .pages {
    right: 40%;
    top: 60px;
  }
  .logo img {
    width: 125px;
  }
  .content-count {
    gap: 12px;
    & svg {
      font-size: 26px;
    }
    & span {
      width: 17px;
      height: 17px;
      font-size: 11px;
      top: -4px;
      right: -7px;
    }
  }
}
